doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Weather API

  body
    include nav.pug
    h1 PANAHON: A Weather API

    p This simple weather API allows you to retrieve weather information for a specific city. To use the API, sign up and obtain your API key.

    h2 API Documentation

    h3 Get Weather Data
    p To get weather data for a specific city, send a GET request to the following endpoint:

    pre GET: /api/weather/forecast/3/:location/?key=YOUR_API_KEY

    p Replace `:city` in the URL with the name of the city you want to get weather data for. Also, make sure to replace `YOUR_API_KEY` with your actual API key.

    h2 Sign Up and Obtain API Key

    p To access the API functionalities, sign up and obtain your API key. Upon signing up, you will be provided with your unique API key.

    p Use the API key in the URL mentioned above to authenticate your requests and gain access to weather data.

    p Thank you for using our Weather API! If you have any questions or need assistance, please contact our support team.
