doctype html
html(lang='en')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Weather API

body

    h1 Sign Up
    form(method="POST" action="/auth/signup")
        input(type="text" name="name" placeholder="Name")
        input(type="email" name="email" placeholder="Email")
        input(type="password" name="password" placeholder="Password")
        input(type="submit" value="SignUp")
    p Already have an account?
        a(href="/auth/login") Login
    p Or go back to
        a(href="/") Home